<!DOCTYPE html>
<html lang="en">
  <%- include ('../partials/head') %>
  <body>
    <script>
      const onImageChange = () => {
        const imagePreview = document.getElementById('preview')

        const image = document.getElementById("image")
        const imageFile = image?.files?.[0]
        console.log(imageFile)

        const fileReader = new FileReader()
        fileReader.onload = function () {
          imagePreview.src = fileReader.result
          imagePreview.setAttribute("display", "block")
        }

        if(imageFile) {
          fileReader.readAsDataURL(imageFile)
        } else {
          imagePreview.src = ""
        }
      }

      document.addEventListener('DOMContentLoaded', () => {
        const id = <%= typeof data !== 'undefined' ? data.id : undefined %>

          if(!!id) {
            const imageInput = document.getElementById('image')
            imageInput.removeAttribute('required')
          }
      })
    </script>

    <div class="flex flex-col items-center mt-10">
      <form class="flex flex-col gap-4" action="<%= typeof data !== 'undefined' ? `/api/product/update?id=${data.id}`  : '/api/product' %>" method="post" enctype="multipart/form-data">
        <div class="w-96 flex flex-col gap-4">
          <h1 class="font-bold text-3xl">Product details</h1>
          <hr>
          <div class="flex justify-between gap-4">
            <div class="flex flex-col gap-2">
              <label for="name">Name</label>
              <input required value="<%= typeof data !== 'undefined' ? data.name : '' %>" class="border-[1px] border-gray-400 border-solid p-1" id="name" name="name" placeholder="Product Name" />
            </div>
            <div class="flex flex-col gap-2">
              <label for="basePrice">Base Price</label>
              <input required value="<%= typeof data !== 'undefined' ? data.basePrice : '' %>" type="number" min="0" class="border-[1px] border-gray-400 border-solid p-1" id="basePrice" name="basePrice" placeholder="Product Base Price" />
            </div>
          </div>
          <div class="flex flex-col gap-2 w-full">
            <label for="description">Description</label>
            <textarea required rows="5" maxlength="1000" name="description" class="p-1 border-gray-400 border-solid border-[1px]" placeholder="Product Description"><%= typeof data !== 'undefined' ? data.description : '' %></textarea>
          </div>
          <div class="flex flex-col gap-2 w-full">
            <label for="image">Image</label>
            <img src="<%= typeof data !== 'undefined' ? data.image : '' %>" id="preview" style="display: 'none';"></img>
            <input required accept="image/*" onchange="onImageChange()" type="file" class="border-[1px] border-gray-400 border-solid p-1" id="image" name="image" placeholder="Product Image" />
          </div>
        </div>
        <button class="bg-buttonContained text-white rounded-md px-4 py-2 w-24">Save</button>
      </form>
    </div>
  </body>
</html
